@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-hp: #c67373;
  --color-str: #99774a;
  --color-vit: #71a27e;
  --color-mag: #5099aa;
  --color-spr: #9575ba;
  --color-spd: #b95989;
  --color-eva: #bdb67f;
  --color-hit: #6488b3;
  --color-luck: #aa7c7a;

  --color-elemAtk: #ffffff;
  --color-elemDef: #ffffff;
  --color-stAtk: #ffffff;
  --color-stDef: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-hp: #5b0505;
    --color-str: #744200;
    --color-vit: #1e522c;
    --color-mag: #163d46;
    --color-spr: #403151;
    --color-spd: #660033;
    --color-eva: #494529;
    --color-hit: #0f243e;
    --color-luck: #632523;

    --color-elemAtk: #2d0081;
    --color-elemDef: #4a0fb8;
    --color-stAtk: #5e005e;
    --color-stDef: #8b008b;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
