.root {
  width: 100%;

  td,
  th {
    padding: 0.25em;
  }

  tr {
    &:nth-child(2n) {
      background: var(--background-odd);
    }
  }
}

.title {
  cursor: pointer;
  margin-bottom: 1em;

  &:hover {
    text-decoration: underline;
  }
}
